@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.navbar-container {
  font-family: "Roboto", sans-serif;
  background-color: white;
  z-index: 998;
}
.primaryCol {
  color: #02646d;
}
.secondaryCol {
  background-color: var(--secondary-color);
}
.categoryBg {
  background-color: var();
}
.loginBtn {
  background-color: #02646d;
}
.logo {
  height: 10px;
  width: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: darken;
  height: 35px !important;
  width: auto !important;
}
.profileImg {
  border-radius: 50% !important;
  height: 36px;
  margin-right: 8px;
}
.verticle {
  /* border: 1px solid #02646d; */
  border-left: #02646d 1px solid;
}
